<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agenda.oscar.com.agenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.oscar.agenda.activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.oscar.agenda.activities.NuevoEvento2Activity"
            android:label="@string/title_activity_nuevo_evento2"
            android:parentActivityName="com.oscar.agenda.activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oscar.agenda.activities.CalendarioMensualActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name="com.oscar.agenda.activities.EdicionDetalleActivity"
            android:parentActivityName="com.oscar.agenda.activities.CalendarioMensualActivity"
            android:label="@string/title_activity_edicion_detalle"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <!-- Declaración de servicios -->
        <service android:name="com.oscar.agenda.services.NotificacionEventoService"></service>


    </application>

</manifest>